//====================================================================================================
.header {
	height: 222px;
	position: relative;
	&::before {
		content: "";
		background: url('@img/header/header-bg.png') no-repeat;
		position: absolute;
		z-index: 1;
		top: -135px;
		left: -135px;
		height: 985px;
		width: 985px;
	}
	&__container {
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 60px;
		@media(max-width: $tablet) {
			gap: 40px;
		}
		@media(max-width: $mobile) {
			gap: 20px;
		}
	}
	&__logo {
		position: relative;
		z-index: 12;
	}
	&__menu {
		flex: 1 1 auto;
		display: flex;
		justify-content: flex-end;
	}
	&__phone {
		position: relative;
		z-index: 12;
	}
	@media(max-width: $pc) {
		height: 180px;
	}
	@media(max-width: $tablet) {
		height: 140px;
	}
	@media(max-width: $mobile) {
		height: 100px;
	}
}
.logo {
	height: 100%;
	display: flex;
	align-items: center;
	position: relative;
	&__link {
		display: flex;
		align-items: center;
		height: 70px;
		gap: 39px;
		img {
			max-width: 100%;
		}
	}
	&__text {
		font-size: 12px;
		width: 99px;
		line-height: math.div(18 , 12);
		letter-spacing: 0.05em;
		color: #6D6D6D;
		@media(max-width: $tablet) {
			display: none;
		}
	}
}
.menu {
	&__list {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		column-gap: 40px;
		flex-wrap: wrap;
		@media(max-width: $mobile) {
			flex-direction: column;
			padding-top: 40px;
			row-gap: 40px;
		}
	}
	&__link {
		color: #949494;
		transition: all 0.3s ease 0s;
		font-size: 18px;
		line-height: math.div(16 , 13);
		letter-spacing: 0.05em;
		text-transform: uppercase;
		@media(any-hover) {
			&:hover {
				color: #FFCF7A;
				text-shadow: 1px 1px 1px #FFCF7A;
			}
		}
	}
}
.phone {
	&__link {
		position: relative;
		display: block;
		width: 50px;
		height: 50px;
		border: 1px solid #000;
		overflow: hidden;
		background: #ECCF94 url('@img/header/phone.png') center no-repeat;
		&::before,
		&::after {
			content: "";
			position: absolute;
			width: 45px;
			height: 103px;
			border-radius: 50%;
		}
		&::before {
			top: 14px;
			left: -14px;
			background: linear-gradient(270.21deg, rgba(249, 139, 77, 0.8) 18.08%, rgba(255, 103, 82, 0.8) 68.72%);
			filter: blur(25px);
		}
		&::after {
			bottom: 15px;
			left: 18px;
			background: linear-gradient(270.21deg, rgba(255, 217, 196, 0.8) 18.08%, rgba(255, 255, 255, 0.8) 68.72%);
			filter: blur(25px);
			transform: matrix(-1, 0, 0, 1, 0, 0);
		}
	}
}

//====================================================================================================

//Burger
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 12;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #fff;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
.menu {
	@media(max-width: $mobile) {
		&__body {
			background: #1d1d1c;
			padding: 100px 0;
            opacity: 0;
            visibility: hidden;
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%; 
			height: 100%;
            transition: all 0.3s ease 0s;
            z-index: 10;
			overflow-y: auto;
            .menu-open & {
                top: 0;
                opacity: 1;
                visibility: visible;
            }
            &::before {
                content: "";
                position: fixed;
                width: 100%;
				height: 100px;
                top: 0;
                left: 0;
                z-index: 11;
                background: #1d1d1c;
            }
        }
	}
}